<p>
  <h3>Mission</h3>
<div>
OSCAR India is a social non-profit enterprise that supports grassroots organisations using sports as a tool for social change. Acting as an umbrella program, and based inside communities, OSCAR aims to create a network of role models among partner organisations to identify and tackle the barriers preventing children and youth from reaching their maximum potential.
</div>
<h3>Vision</h3>
<div>
We believe in a world in which sports empower youth to discover and reach their maximum potential.
</div>
<h3>Problem</h3>
<div>
"We used to study in a municipal school in South Mumbai where passing from first to fourth standard was very easy. There was no pressure at all so nobody would ever concentrate on studies. English was suddenly introduced in the fifth standard and all of us were scared. Everybody expected us to score the marks necessary for passing the examination. Meanwhile, easy cash from selling fish was an attractive alternative for us. Earning at a very young age made my friends and their families happy and proud. Due to the easy cash most of them got addicted to drugs, alcohol and gambling, and of course by that time they had all dropped out of school. Parents realized what happened too late. As a reaction they arranged marriages for a lot of my friends, assuming this would help them become more responsible and committed."
</div>
</p>



