<h1>Welcome to Oscar India Page!</h1>
<p>
  You've found the home page for the
  <%= link_to "Oscar India Page", "http://oscar-india.org" %>
  application.
</p>
<p>
  <%= link_to "Sign Up Now!","#" %>
</p>