
<div class="span7"> 
	<p>OSCAR India is a football for development organisation that uses sport as a social tool to identify and tackle barriers that prevent children and youth from reaching their maximum potential.</p>
<p>
We pursue three main objectives:
<ul>
	<li>To support children and youth to stay in school.</li>
	<li>To discover, develop and nurture young talent.</li>
	<li>To educate youth as responsible and well-rounded citizens.</li>
</ul>
</p>	
<p> <br><%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>

<div class="span4">
	<p> <%= link_to 'Subscribe to monthly newsletter!',  new_subscriber_path , class: "btn btn-large btn-primary" %> </p>

<%= render 'facebookLike' %>
<%= render 'twitterTimeline' %> 
 
</div>
