//$navbarBackgroundHighlight: white;
//$navbarBackground: white;
//$btnPrimaryBackground: purple;
@import 'bootstrap';

html{
    height: 95%;
}

body{
    padding-top: 1%;
    height: 95%;

}

.tagline{
    padding-top:5%;
        text-align: center;
    vertical-align: center;
    color:black;
    font: calibre;
    font-size: 25;
    height:100%;
}


@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}


.container {
height: 95%;
min-height: 95%;
height: auto !important;
margin: 0 auto -14px;
}

.footer, .push{

	text-align: center;
	vertical-align: bottom;
	height: 14px;
	padding-top: 10px;
    color: $grayLight;
    clear:both;
    a{
        color: $gray;
    }

}